html {
  background: white;
  margin: 0;
  padding: 0;
  background-size: cover;
  margin-right: 0;
}

header,
footer {
  background: #3e3766;
  background-image: -webkit-radial-gradient(top, circle cover, #403e61 0%, #312c47 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3f3e60 0%, #332d4d 80%);
  background-image: -o-radial-gradient(top, circle cover, #444366 0%, #322d49 80%);
  background-image: radial-gradient(top, circle cover, #454464 0%, #2f2a45 80%);
  text-align: center;
  color: white;
  width: 100%;
}

footer {
  margin-top: 5px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: JMHtypewriter, 'Courier News', Courier, monospace, sans-serif;
  letter-spacing: 0.2rem;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: JMHtypewriter;
  src: url('../font/JMH\ Typewriter.otf') format('opentype');
}

h1 {
  font-size: 50px;
}

#about__section {
  margin-top: 20px;
}

.typed {
  color: white;
  font-size: 50px;
  position: relative;
  bottom: 0;
  animation: reveal 1s ease-in-out forwards;
}

main {
  margin: 0 50px 0 20px;
  line-height: 2;
  color: black;
  text-align: left;
}

.main-about {
  margin: 0 25px 25px 40px;
}

.container-nav {
  font-size: 20px;
  width: 100%;
  word-spacing: 20px;
  text-align: right;
}

nav a {
  margin-right: 1%;
}

.shopping-car {
  display: inline-block;
  border: 2px solid black;
  border-radius: 15%;
  padding: 5px;
  background-color: white;
}

.project,
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time1,
.project1 {
  display: inline-block;
}

nav a {
  outline-color: transparent;
  color: white;
  text-shadow: .5px .5px black;
}

nav a:link {
  text-decoration: none;
  color: white;
  padding: 5px;
}

ul a {
  text-decoration: none;
  color: black;
}

a:hover {
  background: rgb(234, 241, 240);
  border-radius: 10px;
  transition: .7s, ease, .7s;
  text-shadow: 1px 0 10px white;
  color: black;
  transition: 0.5s ease;
  padding: 10px;
}

.container-page-title {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 0;
}

.img-typewriter {
  margin: 5rem;
  max-width: 40%;
  /* Ensure the image doesn't exceed its container */
  height: auto;
}

.text-index {
  font-family: JMHtypewriter, 'Courier News', Courier, monospace, sans-serif;
  color: #000;
  margin: 25px;
}

.index-title {
  font-family: JMHtypewriter, 'Courier News', Courier, monospace, sans-serif;
  font-size: 40px;
  color: #000;
  text-align: left;
}

.old-typewriter-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.qwerty {
  display: flex;
}

.qwerty1 {
  display: inline-block;
}

.tw-california {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

}

.slides {
  width: 1000%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.manual-nav {
  position: absolute;
  margin-top: 480px;
  margin-left: 200px;
  display: flex;
}

.manual-btn {
  border: 2px solid #DDF9F1;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #DDF9F1;
}

#radio1:checked~.slide-first {
  margin-left: 0;
}

#radio2:checked~.slide-first {
  margin-left: -10%;
}

#radio3:checked~.slide-first {
  margin-left: -20%;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 3px;
  font-weight: bold;
  font-size: 90%;
  padding: 1.5%;
  border-radius: 5px;
}

.tw-aqua {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

}

#radio4:checked~.slide-second {
  margin-left: 0;
}

#radio5:checked~.slide-second {
  margin-left: -10%;
}

#radio6:checked~.slide-second {
  margin-left: -20%;
}

fieldset {
  flex: 1;
  margin-right: 100px;
  border-radius: 12px;
}

.section1,
.section2 {
  display: flex;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.tw-green {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

}

#radio7:checked~.slide-third {
  margin-left: 0;
}

#radio8:checked~.slide-third {
  margin-left: -10%;
}

#radio9:checked~.slide-third {
  margin-left: -20%;
}

.tw-rose {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

}

#radio10:checked~.slide-fourth {
  margin-left: 0;
}

#radio11:checked~.slide-fourth {
  margin-left: -10%;
}

#radio12:checked~.slide-fourth {
  margin-left: -20%;
}

fieldset {
  flex: 1;
  margin-right: 50px;
}

.wrapper,
.wrapper2,
.wrapper3,
.wrapper4 {
  margin-top: 10px;
  margin-left: 220px;
  height: 30px;
  max-width: 70px;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  font-weight: bold;
  border-radius: 5px;
  font-size: 80%;
  color: white;
}

.wrapper span {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.wrapper span.number {
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  margin-right: 5px;
}

.wrapper2 span {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.wrapper2 span.number2 {
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  margin-right: 5px;
}

.wrapper3 span {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.wrapper3 span.number3 {
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  margin-right: 5px;
}

.wrapper4 span {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.wrapper4 span.number4 {
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  margin-right: 5px;
}

.car {
  font-family: JMHtypewriter, 'Courier News', Courier, monospace, sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  background: black;
  color: whitesmoke;
  font-size: 70%;
  border-radius: 5px;
  padding: 5px;
  text-shadow: .5px .5px white;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font-family: JMHtypewriter, 'Courier News', Courier, monospace, sans-serif;
  color: black;
  letter-spacing: 4px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 900px;
}

/* Left contact page */
.form-horizontal {
  float: left;
  max-width: 450px;
  font-weight: 400;
  line-height: 3;

}

.form-control,
textarea {
  min-width: 390px;
  min-height: 1.5rem;
  background-color: white;
  color: gray;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 5px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  text-align: center;
  background-color: #000;
  color: white;
  border-radius: 5px;
}

.send-button:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;

}

.list-item {
  line-height: 4;
}

.contact-text {
  letter-spacing: 1.9px;
  color: #bbb;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #008B8B;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: black;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}